/* Styling added names */
#list_name{
	font-size: 25px;
	color: blue;
	font-weight: bold;
}

/* Styling the word "Name"*/
#head{
	font-size: 20px;
	color: red;
	font-style: normal;
}

/* Styling button */
button{
	border-radius: 12px;
	background-color: #4CAF50;
}

/* Styling the input box*/
input[type=text]:focus {
    background-color: lightblue;
}